# Maven build output
/target/
jacoco-pretty.xml


# IDE
.idea/
.vscode/

# OS / editor noise
*.swp
*~
.DS_Store


# db
*.db

# development files
scripts/**
**/to_ignore/**


# AI
.codex
chat.txt

# data
data/
printerhub-print-files/**
printerhub-camera/**
*.jpg
response.txt
message.txt


# Rust build output
**/target/