# Maven build output
/target/
jacoco-pretty.xml


# IDE
.idea/
.vscode/

# OS / editor noise
*.swp
*~
.DS_Store


# db
*.db

# development files
scripts/**
**/to_ignore/**

printerhub-print-files/**

# AI
.codex.codex/
